<!-- <div class="owl-carousel">
  <div> <img src="http://fakeimg.pl/2000x1200/"> </div>
  <div><img src="http://fakeimg.pl/1200x720/"> </div>
  <div> <img src="http://fakeimg.pl/1200x720/"> </div>
  <div><img src="http://fakeimg.pl/1200x720/"> </div>
  <div> <img src="http://fakeimg.pl/1200x720/"> </div>
  <div> <img src="http://fakeimg.pl/1200x720/"> </div>
  <div> <img src="http://fakeimg.pl/1200x720/"> </div>
</div> -->


<!-- <ng-owl-carousel class="owl-theme" owl-items="items" owl-properties="properties" owl-ready="ready($api)">
    <div class="item"><h4>Free Item</h4></div>
    <div class="item" data-ng-repeat="item in items"><h4>{{$index}}</h4></div>
</ng-owl-carousel> -->

<!--
<data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, rewindNav : false}">
    <div owl-carousel-item="" ng-repeat="item in ::items1" class="item">
      <p>{{::item}}</p>
    </div>
  </data-owl-carousel>
  <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
    <div owl-carousel-item="" ng-repeat="item in ::items2" class="item">
      <p>{{::item}}</p>
    </div>
  </data-owl-carousel> -->
  <!-- BOOTSTRAP CAROUSEL
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div> -->

    <!-- <ui-carousel
      slides="vm.gameList"
      slides-to-show="3"
      slides-to-scroll="1"
      initial-slide="1"
      autoplay="true"
      autoplay-speed="2000"
      dots="true">

  <carousel-item>

      <img src="{{item.imageULR}}" alt="{{item.title}}" />
      <h3> {{ tem.game}} </h3>
      <p> {{item.description}} </p>

    </carousel-item>
</ui-carousel> -->
