<div>
<div ng-if="vm.locals.canWatch" id="player"></div>

<div ng-if ="!vm.locals.canWatch">
  <div class="modal-header">
      <h3 class="modal-title">Acceso denegado</h3>
  </div>
  <div class="modal-body">
      <p>No puede jugar a la demo porque el tiempo se ha agotado </p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
  </div>
</div>

</div>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '360',
      width: '640',
      videoId: 'M7lc1UVf-VE',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      },
      playerVars: {
        'autoplay': '1',
        'disablekb': '1',
        'end': '3600',
        'enablejsapi' : '1',
        'controls': '0'
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {

  }
  function stopVideo() {
    player.stopVideo();
  }
</script>
