<div>
  <iframe
    ng-if="vm.locals.canWatch"
    id= "player"
    width="560"
    height="315"
    ng-src= "{{vm.locals.videoURL}}"
    frameborder="0"
    autoplay="1"
    disablekb="1"
    enablejsapi="1"
    end="3600"
    controls="0"
    allowfullscreen>
</iframe>

<div ng-if ="!vm.locals.canWatch">
  <div class="modal-header">
      <h3 class="modal-title">Acceso denegado</h3>
  </div>
  <div class="modal-body">
      <p>No puede jugar a la demo porque el tiempo se ha agotado </p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
  </div>
</div>

</div>
