<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">GAMEFLIX</a>
      </div>

      <div class="collapse navbar-collapse tam-navbar" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-click="vm.goHome()" class="active"><a >Home</a></li>
          <li><a ng-href="#/about">Aventuras</a></li>
          <li><a ng-href="#/">Rol</a></li>
          <li><a ng-href="#/">MMORPG</a></li>
          <li><a ng-href="#/">Estrategia</a></li>
          <li><a ng-href="#/">Acción</a></li>
        </ul>


      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <div id='search-box'>
            <form id='search-form' target='_top'>
              <input id='search-text' ng-model="vm.searchName" name='searchName' placeholder='Search' type='text'/>
              <button id='search-button' type='submit' ng-click="vm.search()">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>


      </div>


    </div>




  </div>

</div>
